section{
    background-color: yellow;
    padding: 30px 30px 30px;
}
.price{
    display: flex;
    flex-direction: row;
}
ul{
    list-style-type: none;
}
.dollar{
    font-weight: 900;
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 10px;
}
button{
    background-color: white;
    padding: 15px 15px 15px;
    border-radius: 50px;
    border-width: 1px;
    margin-left: 10px;
}
.price-right{
    margin-left: -30px;
}
.writeup{
    margin-top: -15px;
}
.features{
    font-size: 12px;
}
.list{
    margin-left: -42px;
}    

